<h1>My data</h1>

<p *ngIf="!someData"><em>Loading...</em></p>
<div class="row">

  <table class="table">
    <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Middle</th>
      <th scope="col">Last</th>
      <th scope="col">Title</th>
      <th scope="col">Facebook</th>
      <th scope="col">Color</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of someData">
      <td>{{entry.firstName}}</td>
      <td>{{entry.middleName}}</td>
      <td>{{entry.lastName}}</td>
      <td>{{entry.title}}</td>
      <td>
        <a href="{{entry.facebookUrl}}" target="_blank">{{entry.facebookUrl}}</a>
      </td>
      <td>{{entry.color}}</td>
      <td>

        <ng-template #popContent>
          <div class="popover-content">
            <app-user-search-box-component (loading)="loading = $event"
                                           (results)="updateResults($event)">
            </app-user-search-box-component>

            <div style="height: 300px">
              <app-user-search-result
                *ngFor="let result of results"
                [result]="result">
              </app-user-search-result>
            </div>
          </div>
        </ng-template>

        <button type="button" class="btn btn-primary" placement="bottom"
                [ngbPopover]="popContent"
                popoverTitle="Send to"
                popover-class="popover-content"
                [autoClose]="'outside'"
                style="margin: 2px">

          <!--#p="ngbPopover" (document:click)="p.close()" (click)="$event.stopPropagation()"-->
          Share
        </button>
        <button type="button" class="btn btn-primary" (click)="editClick(entry)" style="margin: 2px">
          Edit
        </button>
        <button type="button" class="btn btn-primary" (click)="deleteClick(entry)" style="margin: 2px">
          Delete
        </button>


      </td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary" (click)="createClick()">
    Create 
  </button>
</div>

